<div class="row">
  <div class="col-6">
    <app-hero-form
      (listFinal)="add($event)"
      [childMes]="parentObjectId"
    ></app-hero-form>
  </div>
  <div class="col-6">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let hero">{{ hero.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let hero">{{ hero.name }}</td>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let hero">{{ hero.age }}</td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let hero">{{ hero.address }}</td>
      </ng-container>
      <!-- Address Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let hero">{{ hero.email }}</td>
      </ng-container>
      <!-- Address Column -->
      <ng-container matColumnDef="hobby">
        <th mat-header-cell *matHeaderCellDef>Hobby</th>
        <td mat-cell *matCellDef="let hero">{{ hero.hobby }}</td>
      </ng-container>
      <!-- Address Column -->
      <ng-container matColumnDef="career">
        <th mat-header-cell *matHeaderCellDef>Career</th>
        <td mat-cell *matCellDef="let hero">{{ hero.career }}</td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let hero; let i = index">
          <button class="btn btn-primary" (click)="update(hero.id)">
            Edit
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let hero; let j = index">
          <button
            class="btn btn-secondary"
            focusable="false"
            (click)="delete(j)"
          >
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
